{% extends "layout.html" %}
<!-- input to form: symbol the user wants to look up
loookup in helpers.py returns a dict of name, price, symbol
-->

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Look up</button>
    </form>

{% endblock %}